<nb-layout
[nbSpinner]="loading"
nbSpinnerStatus="primary"
nbSpinnerSize="large">

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column (click)="expand()" style="padding: 8px;">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-sidebar responsive="true" tag="left">
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

</nb-layout>


<button class="addButton" color="primary" (click)="fabTriggred=!fabTriggred" mat-fab aria-label="">
  <nb-icon [options]="{ animation: { type: 'zoom' } }" icon="plus-outline"></nb-icon>
</button>
<div class="fabMenu" *ngIf="fabTriggred" (click)="fabTriggred=!fabTriggred">
  <a [routerLink]="['/pages/actions/adding', 'installation']" [@fabMenu]="'in'">
    Ajouter une installation
  </a>
  <a [routerLink]="['/pages/actions/adding', 'intervention']" [@fabMenu]="'in'">
    Ajouter une intervention
  </a>

</div>
