<h3 mat-dialog-header>{{ (data.action === 'edit')? 'Modifier' : 'Ajouter' }} un produit</h3>
<form #materialForm="ngForm" (ngSubmit)="onAdd(materialForm)">
    <div mat-dialog-content>
        <div>
          <div class="label" style="margin-right: 8px;">image :</div>
          <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput accept=".PNG, .JPG, .JPEG">
          <div (click)="fileInput.click()" class="inputFile">
            <img [src]="(img_url === null)? 'assets/images/logo_placeholder.png' : img_url" alt="">
          </div>
        </div>
        <div class=" formRow">
            <div class="label" style="margin-right: 8px;">Nom :</div>
            <div>
                <input nbInput type="text" required [(ngModel)]="newSoftware.name" fullWidth [status]="(nom.errors && (nom.dirty || materialForm.submitted)) ? 'danger':'basic'" #nom="ngModel" name="nom">
            </div>
            <div class="errorMessage" *ngIf="nom.errors && (nom.dirty || materialForm.submitted)">Le nom n'est pas indiqué</div>
        </div>

        <div class="formRow">
          <div class="label" style="margin-right: 8px;">version :</div>
          <div>
            <input nbInput type="text" required [(ngModel)]="newSoftware.version" fullWidth [status]="(version.errors && (version.dirty || materialForm.submitted)) ? 'danger':'basic'" #version="ngModel" name="version">
          </div>
          <div class="errorMessage" *ngIf="version.errors && (version.dirty || materialForm.submitted)">Le type n'est pas indiqué</div>
        </div>

        <div class="formRow" *ngIf="!data.company_id">
          <div class="label" style="margin-right: 8px;">manufacture :</div>
          <div>
            <nb-select name="comp" fullWidth #comp="ngModel" [(ngModel)]="newSoftware.company_id" placeholder="-selectionner un champs-">
              <nb-option *ngFor="let company of comapnies" [value]="company.id">{{ company.name }}</nb-option>
            </nb-select>
        </div>
          <div class="errorMessage" *ngIf="comp.errors && (comp.dirty || materialForm.submitted)">Le type n'est pas indiqué</div>
        </div>

        <div class="formRow">
          <div style="margin: 8px;">
            <nb-checkbox name="hasSoftware" [(ngModel)]="newSoftware.hasSubscription"><div [ngClass]="{'label': !newSoftware.hasSubscription}">a une abonnement</div></nb-checkbox>
          </div>
        </div>

    </div>
    <div mat-dialog-actions class="actionsContainer">
      <button type="submit" mat-raised-button [disabled]="loading"  color="primary" [nbSpinner]="loading"
      nbSpinnerStatus="primary"
      nbSpinnerSize="tiny">{{ (data.action === 'edit')? 'Modifier' : 'Ajouter' }}</button>
      <button [mat-dialog-close]="false" mat-raised-button>Annuler</button>
    </div>
    </form>
