table{
  width: 100%;
  // text-align: center;
  @media (max-width: 768px) {
    width: max-content;
  }
  th.mat-header-cell{
    font-size: 13px;
    font-weight: bold;
  }
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 2px 6px;
    @media (max-width: 768px) {
      padding: 0 7px;
    }
  }
}

th.adress, td.adress {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
