<nb-card
  [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="loading...">
  <nb-card-header class="flex">
    <h3>Liste des clients</h3>
    <div>
      <button hero status="primary" size="small" style="float: right;margin-left: 8px;" (click)="OpenAddModal()" nbButton>
        <nb-icon icon="plus"></nb-icon> Ajouter
      </button>
      <button status="info" size="small" style="float: right;margin-left: 8px;" nbButton>
        <nb-icon icon="refresh-outline"></nb-icon> Refresh
      </button>
      <button status="basic" size="small" style="float: right;margin-left: 8px;" [routerLink]="'/'" nbButton>
        <nb-icon icon="arrow-back-outline"></nb-icon> Retour
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-osn-table [data]='clients' [columns]='columnsClients' [config]='osnTableConfig'></app-osn-table>
</nb-card-body>
</nb-card>

