.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 70vh;
  @media (max-width: 1200px) {
    width: 90%;
  }
  h1, p.sub-title{
    text-align: center;
  }
   button {
     margin-top: 16px;
   }
}
