.mainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .formFram {
    max-width: 720px;
    .navigation {
      margin-top: 28px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
    .matSof{
      .formInput{
        margin: 8px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        @media (max-width: 500px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
        }
        gap: 8px;
        div{
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}

.errorMessage {
  width: 100%;
  text-align: center;
}
