table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: unset;
  tbody {
    border: none;
  }
  th{
    text-transform: capitalize;
    white-space: nowrap;
  }
  td, th{
    padding: .9em;
    border: none;
    margin: none;
  }
  td{
    max-width: 200px;
    max-height: 150px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    &.action {
      white-space: nowrap;
    }
    img {
      border-radius: 0.25rem;
      object-fit: contain;
      width: 100%;
    }

  }
  tr{
    border-bottom: 0.0625rem solid #101426;
  }
  th.sortable{
    div{
      display: flex;
      justify-content: space-between;
    .ops {
      display: none;
    }
    &:hover{

      .ops {
        display: flex;
        transform: rotate(90deg);
      }
    }
  }
    }
}
