table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: unset;
  tbody {
    border: none;
  }
  th{
    text-transform: capitalize;
  }
  td, th{
    padding: .9em;
    border: none;
    margin: none;
    white-space: nowrap;
  }
  tr{
    border-bottom: 0.0625rem solid #101426;
  }
  th.sortable{
    div{
      display: flex;
      justify-content: space-between;
    .ops {
      display: none;
    }
    &:hover{

      .ops {
        display: flex;
        transform: rotate(90deg);
      }
    }
  }
    }
}
