@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.formRow {
  margin: 8px 0;
}
.errorMessage {
  color: #ff3d71;
  font-family: Open Sans, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 8px;
}
a.phone, a.phone:hover, a.phone:active, a.visited {
  color: rgb(51, 102, 255);
  text-decoration: none;
  font-size: bold;
}

.mat-dialog-container {
  background-color: #222b45;
}
.actionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.header-in-details {
  margin: 8px;
}

.inputFile {
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    max-width: 100%;
  }
}


.nb-theme-dark nb-stepper .step-content {
  width: 100%;
  height: 100%;
}
