@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #c32f65,
  // color-primary-400: #c51f5d,
  // color-primary-500: #c51f5d,
  // color-primary-600: #243447,
  // color-primary-700: #243447,
  // color-primary-800: #141d26,
  // color-primary-900: #141d26,

), dark, dark);



@import '~@angular/material/theming';
@include mat-core();


$mat-custom: (
  50: #e8eaf6,
  100: #f2f6ff,
  200: #d9e4ff,
  300: #c32f65,
  400: #c51f5d,
  500: #c51f5d,
  600: #243447,
  700: #243447,
  800: #0a0a0a,
  900: #141d26,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$candy-app-primary: mat-palette($mat-custom);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);


$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
